<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flex弹性布局</title>
  <link rel="stylesheet" href="basic.css">
  <link rel="stylesheet" href="flex.css">
</head>
<body>
  <div>
    <span>内容一：字字字字字字字字字字字字字字</span>
    <span>内容二：字字字字字</span>
    <span>内容三：字</span>
    <span>内容四：字字字字字字字字字</span>
    <span>内容五：字字字字字字字字<br />字字字字字字字字字字字字字字字</span>
    <span>内容六：字字</span>
    <span>内容七：字字字字字字字字</span>
    <span>内容八：字字字字字字字字字字字字字字字字字字</span>
    <span>内容九：字字字字字字字字字字字字字字字</span>
  </div>
</body>
</html>