thead {
    /* 使用表格布局，并设置列宽由表格宽度和列宽度设定 */
    display: table;
    table-layout: fixed;
    min-width: 100%;
    width: auto;
}

tbody {
    /* 设置块布局，实现独立滚动 */
    display: block;
    overflow: auto;
    min-width: 100%;
    width: auto;
}

tbody>tr {
    /* 恢复布局 */
    display: table;
    table-layout: fixed;
    width: 100%;
}