<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>多列布局</title>
  <style>
    div {
      /* 需要分割的列数 */
      column-count: 4;
      /* 列与列间的间隙 */
      column-gap: 100px;
      /* 列之间的边框 */
      column-rule: 10px solid rgb(236, 9, 20);
    }

    div>h2 {
      /* 元素跨越多少列 */
      column-span: all;
    }
  </style>
</head>

<body>
  <div>
    <h2>《走一步 再走一步》</h2>
    在我生命中有很多时刻， 每当我遇到一个遥不可及、令人害怕的情境， 并感到惊慌失措时， 我都能够应付——因为我回想起了很久以前自己上过的那一课。 我提醒自己不要看下面遥远的岩石， 而是注意相对轻松、容易的第一小步， 迈出一小步、再一小步， 就这样体会每一步带来的成就感，
    直到完成了自己想要完成的， 达到了自己的目标， 然后再回头看时， 不禁对自己走过的这段漫漫长路感到惊讶和自豪。
  </div>
</body>

</html>