<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./tool.js"></script>
  <script src="./TestVue.js"></script>
  <script src="./directive/v-bind.js"></script>
  <script src="./directive/v-model.js"></script>
  <title>主体设计</title>
</head>

<body>
  <div id='app'>
    <h1>
      输入
    </h1>
    <p>
      姓名：
      <input type="text" v-model='username'> 年龄：
      <input type="text" v-model='age'>
    </p>

    <h1>
      输出
    </h1>
    <p>
      我的名字叫
      <em v-bind='username' style='color:red'></em>，今年
      <i v-bind="age" style='color:blue'></i>
      了。
    </p>

  </div>

  <script>

    var vm = new TestVue({
      el: document.getElementById('app'),
      data: {
        "username": "布丁",
        "age": "12"
      }
    });

  </script>
</body>

</html>